      <h3>Comments</h3>
        {% for comment in comments %}
      <p><img src="{{ comment.picture }}" class="img-circle"> {{comment.timestamp}} {{comment.comment}} </p>

        {% endfor %}

<form action="{% url 'core.views.new_comment' %}" method="post">
    {% csrf_token %}


    <div class="fieldwrapper">
        {{ form.comment.errors }}
        <label for="{{form.comment.id_for_label }}"> Comment: </label>
        {{ form.comment}}
        </div>
    <div class="hiddenfields">
    <div class="fieldwrapper">
        {{ form.timestamp.errors }}
        <label for="{{form.timestamp.id_for_label.as_hidden }}"> timestamp: </label>
        {{ form.timestamp}}
    </div>
    <div class="fieldwrapper">
        {{ form.user.errors }}
        <label for="{{form.user.id_for_label }}"> user: </label>
        {{ form.user}}
    </div>
        <div class="fieldwrapper">
        {{ form.event.errors }}
        <label for="{{form.event.id_for_label }}"> event: </label>
        {{ form.event}}
    </div>
        </div>
        
    <button type="submit" class="save btn btn-default">Save</button>
</form>
</div>
    </div>
